/* Styles for my portfolio */

/* General html class for site-wide config */
html {
  overflow-x:hidden;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.09);
}


/* Header class to center my nav dock. */

header {
  display:flex;
  align-items: center;
  justify-content:center;
}

/* Nav dock class, for top dock. */
nav {
  position: fixed;
  left:25%;
  right:25%;
  top: 50px;
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  text-align: center;

  box-sizing: border-box;
}


nav a {
  color:white;
  font-weight:bold;
  text-decoration: none;
  font-size:clamp(.5rem,2vw,1rem);
}

.intro {
  align-self:center;
  display: flex;
  align-items: center;
  color: gray;
  font-size:15px;
  justify-content: center;
  margin-top:150px;
  display:grid;
  grid-template-rows: auto auto auto auto;
  gap:20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.headshot_card {
  display:flex;
  justify-content:flex-end;
}

.hero_card{
  font-size:clamp(1rem,1.5vw,2rem);
  display:grid;
  grid-template-rows:1fr 1fr 1fr 1fr;
}

.spaced_bullets{
  text-align:left;
  margin-bottom:60px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  gap:30px;
}
.glow_button {
  border-radius: 2vmin;
  padding: 2vmin 3vmin;
  width: auto;
  justify-self: flex-start;
  border: none;
  font-weight: bold;
  font-size: clamp(0.8rem, 2.2vmin, 1.5rem);
  aspect-ratio: 2 / 0.5;
  transition: box-shadow 0.1s ease, transform 0.25s ease;
}

.glow_button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 40px rgba(255,255,255,0.5);
  cursor: pointer;
}

.glass_button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
  color: white;
  border-radius: 2vmin;
  padding: 2vmin 3vmin;
  border: 1px solid gray;
  font-size: clamp(0.8rem, 2.2vmin, 1.5rem);
  aspect-ratio: 2 / 0.5;
  transition: transform 0.25s ease;
  justify-self: flex-start;
}

.glass_button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.project_section {
  display: grid;
  grid-template-columns: 72.5% 22.5%;
  width: 50%;
  column-gap: 5%;
  aspect-ratio: 1/.75;
  margin: 50px 25%;
}

.project_collage {
  display: grid;
  grid-template-rows: 47.5% 47.5%;
  row-gap: 5%;
}

.project_card {
  filter: blur(4px); 
  opacity: .5;
  border-radius: 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
  transition: opacity .5s ease, filter .5s ease, transform .5s ease;
}

.project_card:hover {
  transform: scale(1.1) .5s ease;
  opacity: 1;
  filter: blur(0px);
}


