/* Styles for my portfolio */

/* General html class for site-wide config */
html {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
}

/* Header class to center my nav dock. */

header {
  display:flex;
  align-items: center;
  justify-content:center;
}

/* Nav dock class, for top dock. */
nav {
  position: fixed;
  left:25%;
  right:25%;
  top: 50px;
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.1);
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  text-align: center;

  box-sizing: border-box;
}


nav a {
  color:white;
  font-weight:bold;
  text-decoration: none;
  font-size:clamp(.5rem,2vw,1rem);
}

.intro {
  align-self:center;
  display: flex;
  align-items: center;
  color: gray;
  font-size:15px;
  justify-content: center;
  margin-top:150px;
  display:grid;
  grid-template-rows: auto auto auto auto;
  gap:20px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.headshot_card {
  display:flex;
  justify-content:flex-end;
}

.hero_card{
  font-size:clamp(1rem,1.5vw,2rem);
  display:grid;
  grid-template-rows:1fr 1fr 1fr 1fr;
}

.spaced_bullets{
  text-align:left;
  margin-bottom:60px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  height: 300px;
  gap:30px;
}

.glow_button{
  border-radius:20px;
  padding:15px;
  width:25%;
  border:none;
  font-weight:bold; 
  transition: box-shadow 0.1s ease, transform 0.25s ease;
}

.glow_button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 40px rgba(255,255,255,0.5);
}

.glass_button {
   background-color:RGB(255,255,255,0.1);
   backdrop-filter:blur(5px);
   color:white;
   width:20%;
   border-radius:20px;
   padding:15px;
   border: 1px solid gray;
   transition: transform 0.25s ease;
}

.glass_button:hover{
  transform: scale(1.1);
}
